[Unit]
Description=alertmanager
After=network.target

[Service]
ExecStart={{ alertmanager_work_dir }}/alertmanager --config.file={{ alertmanager_conf_dir }}/alertmanager.yml --storage.path={{ alertmanager_data_dir }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
User=alertmanager

LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
