[Unit]
Description=prometheus
After=network.target

[Service]
User={{ prometheus_user }}
EnvironmentFile={{ os_env_dir }}/prometheus
ExecStart={{ prometheus_work_dir }}/prometheus --config.file={{ prometheus_conf_dir }}/prometheus.yml --storage.tsdb.path={{ prometheus_data_dir }} $PROMETHEUS_OPTS
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
TimeoutStopSec=600

LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
